* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --primary-accent: #dad7e5;
  --text: #000000;
  --link: #636b72;
  --link-hover: #ccc4ed;
  --border: #eaeaea;
}

html {
  height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background);
  color: var(--text);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body header {
  background-color: var(--background);
  padding: 1rem 0;
}

/* nav styling start */

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1.8rem;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
}

nav div ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  font-size: 22px;
  font-weight: bold;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  transition: color 0.3s ease;
}

a:focus {
  outline: none;
  outline-offset: 2px;
}

ul,
li {
  list-style: none;
}

/* typewriter styling */

.disabled-link {
  pointer-events: none;
  cursor: default;
  color: inherit;
  text-decoration: none;
}

/* section styling start */

.section {
  margin: 0 6rem;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.section h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.section h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.section p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.section-header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}

.section-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 70%;
  height: 7px;
  background-color: var(--primary-accent);
  border-radius: 10px;
}

/* hero styling start */

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 1.5rem;
  padding-bottom: 8rem;
  background-color: var(--primary-accent);
}

.hero-header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-header a {
  color: var(--text);
  text-decoration: none;
}

.hero-section button {
  margin: 2rem 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.hero-section button {
  padding: 0.8rem 1.5rem;
  background-color: black;
  color: var(--background);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.hero-section button:hover {
  background-color: darkgray;
  transition: background-color 0.3s ease;
}

.hero-section button:focus {
  outline: 2px solid var(--link);
  outline-offset: 2px;
}

/* skills section styling start */

.skill-section h2 {
  font-size: 1.2rem;
}

.skill-content ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
  margin-bottom: 20px;
}

.skill-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  color: var(--background);
  padding: 0.5rem 0;
  gap: 10px;
}

.skill-card img {
  height: 40px;
  width: auto;
  object-fit: contain;
}

/* about section styling */

.about-section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  padding: 12px 0;
}

.about-list span {
  font-size: 1.2rem;
  font-weight: 600;
}

.about-list img {
  height: 30px;
  width: auto;
  object-fit: contain;
}

/* Styling for the download link container */

.download-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}


.download-link svg {
  width: 35px;
  height: 35px;
  fill: currentColor;
  transition: transform 0.2s ease-in-out;
}


.download-link:hover {
  color: #0056b3;
}


.download-link:hover svg {
  transform: scale(1.2);
}


/* footer styling start */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 0;
  background-color: var(--primary-accent);
  border-top: 1px solid var(--border);
}

/* blinking cursor */

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor {
  border-right: 0.08em solid #000000;
  animation: cursor-blink 1s infinite;
}

@media (max-width: 1200px) {
  .section {
    margin: 0 1.5rem;
    padding: 4rem 1.5rem;
  }

  .skill-section {
    padding: 4rem 1.5rem;
  }

  .skill-content ul {
    gap: 10px;
  }
}

@media (min-width: 992px) {
  .section {
    margin: 0 10rem;
    padding: 4rem 1.5rem;
  }
}

@media (max-width: 768px) {
  .section {
    margin: 0 1.5rem;
    padding: 4rem 1.5rem;
  }

  .skill-section {
    padding: 4rem 1.5rem;
  }

  .skill-card img{
    height: 35px;
  }
}

@media (max-width: 576px) {
  .section-header {
    font-size: 1.5rem;
    align-self: center;
  }

  .hero-header {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    height: 3rem;
    line-height: 2rem;
  }
}
